.allign
{
	display: flex;
	flex-direction: row;
	height: 20vh;
}
#first_number_layout
{
	font-size: 30px;
	border: 3px #EEF3F7 solid;
	width: 30%;
	text-align: center;
	height: 10vh;
}
.select_operation
{
	position: relative;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	height: 10vh;
}

.select_operation label
{
	font-size: 26px;
	background-color: #EEF3F7;
	height: 100%;
	cursor: pointer;
	border: none;
}

#second_number_layout
{
	font-size: 30px;
	border: 3px #EEF3F7 solid;
	width: 30%;
	text-align: center;
	height: 10vh;
}

#calculation
{
	margin-right: auto;
	margin-left: auto;
	font-size: 30px;
	border: none;
	width: 100%;
}
